* { box-sizing: border-box; padding:0; margin:0; }

body {
  background:linear-gradient(#dbeaf8, #dbeaf8);
  color:#222;
	padding: 20px;
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

 
 
#bordr
{
    border: 2px solid;
    border-color: rgb(0, 128, 53);
    box-shadow: 0 4px 8px 0 rgb(0, 255, 179);
}
td
{
    border: 1px solid;
   
    font-size: 30px;
}
.empty
{
    visibility: hidden;
}
#c1
{
    background-color: red;
}